
.wrapper {
    display: flex;
    position: relative;
    width: 50vw;
    min-width: 360px;
    max-width:512px;
    margin: 0.5em auto 0;
}

.is-liked {
    background-color: green;
    color: #fff;
}

button, span {
    display: flex;
    color: #333;
    font-family: Helvetica;
    font-size: 16px;
    line-height:20px;
    padding: 0 0.6em;
}

button {
    cursor: pointer;
    border: 1px solid #777;
    border-radius: 4px;
}

button:hover {
    background-color: #999;
    color: #fff;
}

