
.msg-wrapper {
    position: relative;
    display: flex;
    width:100%;
    border: 1px solid #777;
    border-radius: 8px;
    background-color: #fefefe;
    margin: 0.25em 0;
    transition: all 0.2s;
}

div.something {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 28%;
    border-right: 1px solid #888;
}

.msg {
    display: flex;
    font-family: Helvetica;
    padding: 0.2em 0.4em;
}

.username {
    font-size: 18px;
}

.content {
    width: 72%;
    align-items: center;
}

.timestamp {
    color: #666;
    font-size: 12px;
}

.msg-wrapper:hover {
    border: 1px solid #222;
    box-shadow: 0 0 12px 1px #ccc;
    /* transform: scale(1.03); */
}